.comp-footer-container {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
  }

  .comp-footer-buttons {
    background-color: transparent;
    border: whitesmoke;
    border-radius: 2px;
    font-size: 2vw;
    margin: 1vw;
    padding: .25vw;
    transition: all 0.25s ease-in-out;
  }
  .comp-footer-buttons:hover {
    background-color: #101820CC;
    color: #f8f8f8;
    transition: all 0.25s ease-in-out;
    cursor: pointer !important;
  }

  .button-div {
    height: 40rem;
    width: 82rem;
    border-radius: 2px;
    margin: 2rem;
    background-color: #c0abff;
  }

  .button-div2 {
    height: 40rem;
    border-radius: 20rem;
    background-color:#101820;
    margin: 4rem;
  }

  .site-link {
    margin: 1vw;
    display: flex;
    justify-content: center;
    font-size: 1.25vw;
    font-family: 'Roboto', serif;
  }

  #tag {
    padding-left: .25em;
    padding-right: .25em;
    text-decoration: none;
    border-bottom: solid 2px #c0abff;
    color: #101820;
    transition: all .25s ease-in-out;
  }

  #tag:hover {
    cursor: pointer !important;
    border-bottom: solid 2px transparent;
    transition: all .25s ease-in-out;
  }