.intro-container-div {
    margin: 4rem;
    font-family: 'Roboto', serif;
  }
  
  .intro-text-div {
    height: auto; color: #101820;
    font-size: 6vw;
    font-weight: 500;
    padding:0;
    margin: 0;
  }

  .intro-text-body {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .p-text-body {
    line-height: 1.75;
    font-size: 1.5vw;
    letter-spacing: .01em;
  }  

  .p-text-body-bold {
    line-height: 1.75;
    font-size: 1.5vw;
    letter-spacing: .01em;
    font-weight: 800;
  }