.intro-container-div {
    margin: 4vw;
  }
  
  .intro-text-div {
    font-family: 'Roboto', serif;
    color: #101820;
    font-size: 6vw;
    font-weight: 500;
    padding:0;
    margin: 0;
  }
  
  .intro-text-body {
    font-family: 'Roboto', serif;
    line-height: 1.5;
  }
  