  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-buttons {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    font-size: 2.5vw;
    padding: .5rem;
    transition: all 0.25s ease-in-out;
  }

  .header-buttons:hover {
    background-color: #101820;
    color: whitesmoke;
    cursor: pointer !important;
    transition: all 0.25s ease-in-out;
  }