.comp-header-container {
    height: 8vw;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    z-index: 100;
    /* backdrop-filter: blur(6px);
    background: rgba(245,245,245,0.8); */
  }

  .comp-header-home-button {
    background: transparent;
    font-size: 2.25vw;
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto 4rem;
    border: none;
    cursor: pointer !important;
  }

  .comp-header-home-button span {
    margin: 0 1vw;
    transition-duration: .5s;
    transition-property: transform;
  }

  .comp-header-home-button span:hover {
    transform: rotate(90deg);
    cursor: pointer !important;
  }

  .home-link {
    color: #101820;
    font-size: 2.5vw;
    font-weight: 600;
    margin: auto 4rem;
    cursor: pointer !important;
  }

  a {
    text-decoration: none;
  }